# Archivo de ejemplo para variables de entorno de un proyecto frontend con Vite

# URL de la API que se va a consumir ('VITE' SIEMPRE DELANTE)
VITE_API_URL=https://api.ejemplo.com

# Clave de API (si aplica)
VITE_API_KEY=tu_clave_aqui

# Configuración del entorno
VITE_ENV=development

# Puerto de desarrollo (opcional)
VITE_PORT=3000

#____________________________________

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=usuario
DB_PASSWORD=contraseña
DB_NAME=nombre_de_la_base_de_datos

# Otros valores de configuración
NODE_ENV=development
PORT=3000

#____________________________________



